reward-page {
  #item_wrapper {
    border: 1px solid black;
    position: relative;
  }

  #price_input_box {
    width:80%;
    font-size: 200%;
    position: relative;
  }

  #price_Wrapper {
    border: 1px solid black;
    position: relative;
  }

  #item_input_box {
    width:80%;
    font-size: 200%;
    position: relative;
  }

  h2 h3 {
    position: relative;;
  }

  #submit_button {
    width:15%;
    height:5%;
    font-size: 150%
  }
}
