page-store-detail {
    #map {
        height: 300px;
    }
    ion-list{ 
        ion-card {
            height: 80px;
            display: flex;
            flex-grow: 1;
    
            img {
                width: auto;
            }
    
            .image-container {
                height: 100%;
                background-size: contain;
            }
    
            .container {
                padding-right: 20px;
                width: 100%;
                text-align: right;
            }
        }
    }

}
