<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload Reciept</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button full (click)="selectSource()">Select Image</button>

  <img [src]="selectedImage" *ngIf="selectedImage">

  <ion-card *ngIf="processingMsg">
      <ion-card-header>
        {{ processingMsg }}
      </ion-card-header>
      <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col col-8>Item</ion-col>
          <ion-col col-4>Cost</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of receiptItems">
          <ion-col col-8><ion-input type="text" [(ngModel)]="item.title"></ion-input></ion-col>
          <ion-col col-4>{{item.cost}}</ion-col>
        </ion-row>
        <ion-row>
          <button ion-button full>Upload Receipt</button>
        </ion-row>
      </ion-grid>

      </ion-card-content>
    </ion-card>
</ion-content>
